<nav #navbar class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}} </a>
        </div>
        <div class="collapse navbar-collapse">
            <div (window:resize)="onResize($event)">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Idioma
                            <i class="material-icons">language</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a> <img src="../../../assets/img/flags/BR.png" />
                                    Português</a>
                            </li>
                            <li>
                                <a> <img src="../../../assets/img/flags/US.png" />
                                    Inglês
                                </a>
                            </li>
                            <li>
                                <a> <img src="../../../assets/img/flags/ES.png" />
                                    Espanhol
                                </a>
                            </li>
                            <li>
                                <a> <img src="../../../assets/img/flags/KR.png" />
                                    Coreano
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>