.card-item {
    /* width: auto; */
}

.card-item p {
    padding: 0 10px;
}

#rolist button {
    background-color: transparent;
    color: #00bcd4;
    box-shadow: none;
}

.subs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subs .sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subs .sub .circle {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 50%;
}

.circle.red {
    background-color: #f4433b;
}

.circle.blue {
    background-color: #19bcd5;
}

.circle.orange {
    background-color: #fe9a3c;
}

.d-l {
    padding: 28px 0;
}

.center {
    text-align: center;
}

#rd-list {
    width: 200px;
    display: block;
    margin: 0 auto !important;
}

#rolist {
    width: 195px;
    display: block;
    margin: 0 auto !important;
}

.left-list li {
    text-align: left;
}

p.category {
    font-size: 15px !important;
}

.green-text {
    color: #4caf50;
}

.red-text {
    color: red;
}

.chart-atual .card-title {
    margin-top: 33px;
}

.subtitles {
    display: flex;
}

.subtitles .sub>div {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.subtitles .sub .red {
    background-color: red;
}

.subtitles .sub .orange {
    background-color: orange;
}

.subtitles .sub .red {
    background-color: blue;
}

.pie-content {
    padding: 0 10px;
}

.pie-content h4.card-title {
    font-size: 20px;
}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.lista-de-lado {
    list-style: none;
}

.lista-de-lado li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button.btn {
    padding: 5px !important;
}

.pie-content>* {
    margin: 0;
}

.pie-content>.card-title {
    margin-top: 0;
    font-size: 26px;
}

.pie-content mat-select {
    width: 85px !important;
}

h3.card-title {
    font-size: 15px;
}

.card-item h3 {
    padding: 0 5px;
}

.card-header.card-heard-title {
    padding: 5px;
    margin: -20px 39% 5px;
}

.card-header i {
    font-size: 36px;
    line-height: 48px;
    width: 40px;
    height: 50px;
}