<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 card-item" *ngFor="let item of itens">
                <div class="card card-stats">
                    <div class="card-header card-heard-title" data-background-color="orange">
                        <i class="material-icons">weekend</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{item.name}}</p>
                        <h3 class="card-title">{{item.value | currency: 'BRL'}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="card card-chart">
                    <div class="card-header" data-background-color="red" data-header-animation="true">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Retornar!
                            </button>
                        </div>
                        <h4 class="card-title">Cenário referente à
                            {{dashContent?.currentCenario.dateReference | date: 'yyyy'}}</h4>
                    </div>
                </div>

                <h3>
                    Histórico
                </h3>

                <div class="card card-chart" *ngFor="let item of dashContent.historic; let i = index">
                    <div class="card-header" data-background-color="red" data-header-animation="true">
                        <div class="ct-chart" [id]="'websiteViewsChart' + i"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Retornar!
                            </button>
                        </div>
                        <h4 class="card-title">Cenário referente à
                            {{item?.dateReference | date: 'yyyy'}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>