.card-item {
    /* width: auto; */
}

.card-item p {
    padding: 0 10px;
}

p.category {
    font-size: 15px !important;
}

h3.card-title {
    font-size: 15px;
}

.card-item h3 {
    padding: 0 5px;
}

.card-header.card-heard-title {
    padding: 5px;
    margin: -20px 39% 5px;
}

.card-header i {
    font-size: 36px;
    line-height: 48px;
    width: 40px;
    height: 50px;
}