.card-item {
    width: auto;
}

.card-item p {
    padding: 0 10px;
}

p.category {
    font-size: 15px !important;
}

h3.card-title {
    font-size: 15px;
}

.card-item h3 {
    padding: 0 5px;
}

.card-header {
    padding: 5px;
    margin: -20px 55px 5px;
}